/* documnt */
html, body{
    font-family: 'Raleway';
    background-color: #181818;
    color: #ffffff;
    overflow-x: hidden;
    margin:0;
}
html::-webkit-scrollbar {
    display: none;
}
html{
    -ms-overflow-style: none;
}
a:link, a:visited, a:hover {
    color:white;
    background-color: transparent;
    text-decoration: none;
}


/* nav */
#nav {
    overflow: hidden;
    background-color: #000000;
}
#nav a {
    float: left;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
#nav a:hover {
    background-color: #111;
    color:#ffffff;
}
#nav a.active {
    color: #ffffff;
}
#nav .icon {
    display: none;
}
@media screen and (max-width: 600px) {
    #nav a:not(:first-child) {
        display: none;
        text-align: center !important;
   }
    #nav a.icon {
        float: right;
        display: block;
   }
}
@media screen and (max-width: 600px) {
    #nav.responsive {
        position: relative;
   }
    #nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
   }
    #nav.responsive a {
        float: none;
        display: block;
        text-align: left;
   }
}


/* home page stats */
.homeStatTitle {
    font-weight: bold;
}
.heading {
    padding: 20px 50px ;
    text-align: center;
}
.title {
    line-height: 50px ;
    margin-bottom: 4px ;
    font-size: 36px ;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.column {
    flex-basis: 100%;
}
@media screen and (min-width: 800px) {
    .column {
        flex: 1;
   }
}
.blueBorder{
    background-color: #6667f7;
    border-radius: 30px;
    margin: 1rem;
    max-width: 450px;
}


/* Section/Article */
section, article, section > :last-child, section:last-child, article > :last-child, article:last-child {
    margin-bottom: 3em;
    margin-top: 3em;
}
.inactive{
    display: none;
}
.active{
    visibility: visible 
}


/* scores tables */
th, tr, td {
    text-align: center;
}
.verticalAlign{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.guildimg{
    border-radius: 50%;
    width:40px;
}
table {
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 50%;
    margin: 0 auto;
    position: relative;
}
table td, table th {
    padding-left: 8px;
}
table thead tr {
    height: 60px;
    background: #36304a;
}
.table100-head th{
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
}
tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}
tbody tr {
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
}
tbody tr:hover {
    color: #555555;
    background-color: #f5f5f5;
}
thead tr:hover {
    cursor: pointer;
}